{% extends 'app/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block active1%}active{% endblock active1%}
{% block main-content %}
<div class="container my-5 border text-center">
    <div class="mt-5"><h1>The Story</h1></div>
    <hr>
    <div class="row m-5">
        <div class="col-sm-5 border-end "><img class="img-thumbnail"src="{% static 'app/images/pk.jpg' %}"alt="">
      <div class="container text-center border">
        <h3 class="mt-3 text-center">Developer: Prerak Patel</h3>
        <p class="text-danger">Email: patel.prerak2798@gmail.com</p>
        <p class="text-danger">Contact no:+91 7359293111</p>

      </div>
        </div>
        
        <div class="col-sm-7 ps-5 fs-5 text-start">
            

<div class="text-indent">
I've always loved plants. I remember when I was a kid, I would spend hours in my backyard, tending to my little garden. I loved the feeling of taking care of something living, and I was always fascinated by the different types of plants and how they grew.</div><pre></pre>

As I got older, I started to learn more about plants and plant care. I read books, took online courses, and even started a blog about my plant-care journey. I quickly realized that I had a knack for helping people with their plants. I loved giving advice and helping people find the perfect plant for their home.
<pre></pre>
A few years ago, I decided to start a plant selling website. I wanted to share my love of plants with others, and I wanted to help people find the perfect plants for their homes.
        </div>

    </div>
<div class="container border">


</div>



</div>

{% endblock main-content %}