{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
<div class="container h-50 ">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3> Password Reset Complete </h3>
           <div class="">
              <iframe src="https://giphy.com/embed/MelhioWPAo6k4Q6BTp" width="300" height="300" frameBorder="0"  ></iframe>
            
        </div>
        </div>
    </div>
</div>
{% endblock main-content %}